
form{
    height: 730px;
    width: 400px;
    background-color: rgba(255,255,255,0.130);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;

}
form h3{
    color:#23a2f6;
    font-size: 32px;
    font-weight: 400;
    line-height: 42px;
    text-align: center;
}
.input{
    position: relative;
    width: 300px;
}
.input input{
    display: block;
    height: 30px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 4px;
    padding: 0 40px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 300;
}
.input span{
    position: absolute;
    left: 0;
    padding: 10px;
    font-size: 1rem;
    color: #FF9800;
    text-transform: uppercase;
    pointer-events: none;
    transition: 0.6s;
}
.input input:valid ~ span,
.input input:focus ~ span{
    color: #deb885;
    transform: translateX(10px)
    translateY(-50px);
    font-size: 0.90rem;
    font-weight: 600;
    padding: 0 10px;
    background: #fff;
    letter-spacing: 0.1rem;
}
.input input:valid,
.input input:focus{
    color: #23a2f6;
    border: 2px solid #1845ad;
}

.input {
    text-align: center; /* Để căn giữa theo chiều ngang */
}

.input button {
    background-color: #ffffff;
    color: #080710;
    padding: 8px 16px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    width: auto;
    cursor: pointer;
    margin: 55px 20px; /* Thêm khoảng cách giữa các nút button (tùy chọn) */
    display: inline-block; /* Hiển thị các nút button trên cùng một dòng */
}